/*your rules go below!*/
body {
	background-color: #FFF0D0;
	font-family: Georgia;
}

.post img {
	height: 400px;
}

.post p{
	color: #606860;
	font-size: 15px;
	margin: 75px;
}

.post h2{
	color: #60A0A0;
}

.footer p{
	font-size: 9px;
	color: #006000;
}

#featured h2{
	color: #00FF00;
}

.img-round {
    border-radius: 50%;
}