body {
	background-color: hotpink;
}

img {
	height: 400px;
}

.post {
	color: gold;
	font-size: 50px;
	margin: 12px;
}

h2 {
	color: purple;
}

p {
	color:gold;
}

.footer {
	font-size: 25px;
	background-color: cyan;
}

#featured h2{
	color: limegreen;
}

.img-circle {
	border-radius: 50%;
}